.navbar-custom {
  background-color: #343a40;
}

.navbar-custom .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-custom .navbar-nav .nav-link {
  color: white !important; /* Make the nav links white */
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

/* Space out navigation items by adding margin between each link */
.navbar-custom .navbar-nav .nav-link + .nav-link {
  margin-left: 20px;
}

/* signed-in text color */
.navbar-custom .navbar-text {
  color: white;
}
.ms-2 {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 40px;
}

.text-white {
  padding-left: 60px;
  padding-right: 60px;
}
